@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-height: 88px;
    --white-5: rgba(255, 255, 255, .05);
    --white-5-hex: #2d3257;
    --white-25: rgba(255, 255, 255, .25);
    --white-50: rgba(255, 255, 255, .5);
    --white-75: rgba(255, 255, 255, .75);
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px;
}

.main-section {
    background-color: var(--bs-primary) !important;
    color: #ffffff !important;
    min-height: 100vh;
}

.admin-section {
    background-color: #F7F9FA;
    min-height: 100vh;
}

.custom-vh-100 {
    height: calc(100vh - var(--header-height));
}

.custom-vh-95 {
    height: calc(95vh - var(--header-height));
}

.custom-vh-90 {
    height: calc(90vh - var(--header-height));
}

.fullscreen-loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */
h1 {
    color: #FFFFFF;
}

.unbreakable {
    white-space: nowrap;
}

/* Text colors */
.text-white-75 {
    color: var(--white-75);
}

.text-white-50 {
    color: var(--white-50);
}

/* Background Colors */
.bg-white-5 {
    background-color: rgba(255, 255, 255, 0.05);
}

.bg-white-10 {
    background-color: rgba(255, 255, 255, 0.10);
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-black-50 {
    background-color: rgba(0, 0, 0, .5);
}

.border-white-10 {
    border-color: rgba(255, 255, 255, 0.10) !important;
}

/* Buttons */
.btn-white {
    background-color: #FFFFFF !important;
    color: #22274E !important;
}

.btn-white-5 {
    background-color: var(--white-5) !important;
    color: var(--white-50) !important;
}

.btn-white-25 {
    background-color: var(--white-50) !important;
    color: #FFFFFF !important;
}

.btn-grey {
    background-color: #22274e15 !important;
    border: none !important;
}


/* Shadows */
.shadow-right {
    position: relative;
}

.shadow-right::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    pointer-events: none;
}

/* Numpad */
.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    width: fit-content;
}

.numpad-item {
    background-color: rgba(255, 255, 255, .10);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.numpad-item:hover {
    background-color: rgba(255, 255, 255, .20);
}

.pin-dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, .10);
    border-radius: 50%;
}

/* Rooms */
.room-plus-box {
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 16px;
    width: 2.75rem;
    height: 2.75rem;
    display: grid;
    place-items: center;
}

.room-box {
    border-bottom: 1px solid rgba(255, 255, 255, .10);
}

.room-box.last-room {
    border-bottom: none;
}

.time-slot {
    background-color: rgba(255, 255, 255, .05);
    padding: .75rem 1.5rem;
    border-radius: 16px;
    cursor: pointer;
    margin-right: 0.25rem;
}

.time-slot.booked {
    color: var(--bs-danger);
    background-color: rgba(var(--bs-danger-rgb), 0.25);
}

.calender-popover {
    min-width: 175px;
}

/* Room */
.round-add-button {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
}

.countdown-time {
    font-size: 5rem;
}

/* Booking */
.booking-user {
    cursor: pointer;
}

.booking-user:hover {
    background-color: var(--white-5);
}

/* Table */
.table-wrapper {
    width: 100%;
    overflow-x: scroll;
    position: relative;
    scrollbar-width: none;
}

.table-header {
    position: absolute;
    top: 1rem;
    transform: translateX(calc(50% - (50px)));
    width: 100%;
    z-index: 3;
}

.custom-table table {
    table-layout: fixed;
}

.custom-table thead,
.custom-table tr th {
    position: sticky;
    padding: 1rem 1.75rem 1rem 1.75rem;
    border-radius: 16px 0 0 0;
}

.custom-table thead {
    top: 0;
    z-index: 2;
}

.custom-table thead tr>th {
    padding: 2rem 0;
}

.custom-table thead tr>th:first-child {
    z-index: 3;
}

.custom-table tbody tr:last-of-type th {
    border-radius: 0 0 16px 16px;
}

.custom-table tr:not(:last-child) {
    border-bottom: 1px solid var(--white-25) !important;
}

.custom-table tr>th {
    left: 0;
    z-index: 1;
    background-color: var(--white-5-hex);
}

.custom-table tr>th::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.custom-table tr>td:first-of-type {
    padding-left: 2rem
}

.form-control:disabled {
    background-color: var(--bs-secondary-bg) !important;
}

.text-body * {
    color: var(--bs-body-color) !important;
}

.white-input {
    background-color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, .5) !important;
    color: var(--bs-body-color) !important;
}

.white-input::placeholder {
    color: rgba(0, 0, 0, .5) !important;
}

.white-input:disabled {
    border-color: rgba(0, 0, 0, 0.11) !important;
}

.placeholder {
    background-color: rgba(0, 0, 0, .25) !important;
    border-radius: 8px !important;
    padding: 1rem !important;
}

.primary-borders * {
    border-color: var(--bs-primary) !important;
}

#admin-login {
    height: 100vh;
    width: 100vw;
}

.admin-login-box {
    max-width: 500px;
}

.login-item-left {
    flex: 12;
}

.login-item-right {
    display: none;
}

@media (min-width: 768px) {
    .login-item-left {
        flex: 6;
    }

    .login-item-right {
        display: block;
        flex: 6;
    }
}

@media (min-width: 992px) {
    .login-item-left {
        flex: 5;
    }

    .login-item-right {
        display: block;
        flex: 7;
    }
}

@media (min-width: 1200px) {
    .login-item-left {
        flex: 4;
    }

    .login-item-right {
        display: block;
        flex: 8;
    }
}

.cursor-pointer {
    cursor: pointer;
}